<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="color-scheme" content="light dark">
    <title>Authentication Zero</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "stylesheet_link_tags" %>
  </head>

  <body class="min-h-screen flex flex-col border-t-4 border-blue-600">
    <div class="flex-1 flex items-center justify-center py-8">
      <div class="w-full max-w-sm px-4">
        <div class="text-center mb-6">
          <%= link_to admin_sign_in_path do %>
            <%= image_tag "admin/logo.svg", height: 36, class: "mx-auto" %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>

    <%= render "flash_messages" %>
    <%= render "javascript_tags" %>
  </body>
</html>
