<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="color-scheme" content="light dark">
    <title><%= title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "admin.css" %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render "primary_navbar" %>
    <%= render "secondary_navbar" %>

    <div class="flex-1 flex flex-col">
      <%= yield %>
      <%= render "footer" %>
    </div>

    <%= render "flash_messages" %>
    <%= render "javascript_tags" %>
  </body>
</html>
